.App {
  text-align: center;
  background-color: #F7F2DA;
}

.navbar {
  background-color: #9E8301;
}
.font-link {
  font-family: 'EB Garamond', serif;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'EB Garamond', serif;
  color: #7B60EB;
}

.img {
  display: flex;
  align-items: center;
}
.p {
  font-family: 'Raleway', sans-serif;
}
.full-width-img {
  width: 100%;
}
.rounded-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  border-radius: 8px;
  padding: 1em 1em;
  background-color: #7B60EB;
  /* Green */
  color: white;
  border: none;
  margin: 1em;
}