.App {
  text-align: center;
  background-color: #F7F2DA;
}

.navbar {
  background-color: #9E8301;
}
.font-link {
  font-family: 'EB Garamond', serif;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'EB Garamond', serif;
  color: #7B60EB;
}

.p {
  font-family: 'Raleway', sans-serif;
}
.full-width-img {
  width: 100%;
}